*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFDDE2FF;
  color: #001b44;
}
main{
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: rgb(0, 63, 54);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    background-color:	#FAA094FF;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 10%;
    width: 80vw;
    margin-bottom: 5%;
}
.mainbutton{
  align-items: center;
  padding:auto ;
  height: 40PX;
  width: 20%;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #000;
  background-color: #008C76FF;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 2%;
  margin-bottom: 1%;
}
.mainbutton:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(79, 79, 79, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
label, p {
  font-size: 30px;
}
 
input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2em;
  border: 1px solid #001b44;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  #001b44;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  align-self: flex-start;
  padding:auto ;
  height: 40PX;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 50%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #000;
  background-color: #008C76FF;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 2%;
  margin-bottom: 1%;
  }
  
.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(79, 79, 79, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.card {
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  font-weight: bold;
  color: rgb(0, 63, 54);
  border: none;
  display: flex;
  flex-direction: column;
  background-color:	#FAA094FF;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 60px auto;
  padding: 10%;
  width: 80vw;
  margin-bottom: 5%;
}
.card::content:hover{
  transform: translateY(-7px);
}

.check {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  opacity: 50%;
  color: 0px 15px 20px rgba(79, 79, 79, 0.4);
}
/* ------------------timer bar---------------------- */
#myBar {
  width: 1%;
  height: 3px;
  background-color: #04AA6D;
  z-index: 0;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
  z-index: 0;
}